{
  "extends": "loopback",
  "rules": {
      "max-len": [
        1,
        80,
        {"tabWidth": 2},
        {
          "ignoreComments": true,
          "ignoreUrls": true,
          "ignoreTemplateLiterals": true,
          "ignoreRegExpLiterals": true
        }
       ],
    }
}
